.blitz {

  .blitz__matte {
    position:absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: $color-black;
    cursor:pointer;
  }

  .blitz__scene {
    width: 100%;
    height: 100%;
    background-position: 50% top;
    background-size:cover;
    background-repeat: no-repeat;
    background-color: $color-black;
    display:none;

    &.active {
      display:block;
    }

    &.blitz__scene--pan {
      animation-name: blitz-pan;
      animation-duration: 10s;
      animation-direction:normal;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
  }

  .blitz__img {
    width:100%;
    height:100%;
  }

  .blitz__info {
    color: $color-white;
    position: absolute;
    top: $space-3;
    left: $space-3;
    margin: 0;
    font-family: $sans;
    font-weight: bold;
    // top: 50%;
    // left: 50%;
    // transform: translate3d(-50%, -50%, 0);
    text-transform: uppercase;
    padding:$space-1 $space-2;
    background: rgba(0, 0, 0, .5);
    line-height: 20px;
    border-radius: $space-4;
    pointer-events: none;

    @include solid-breakpoint('md') {
      line-height: 40px;
    };

    &.blitz__info--pulse {
      animation-name: blitz-pulse;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-timing-function: ease-in-out;
    }

  }

}

@keyframes blitz-pulse {
  from {
    opacity:1;
  }

  to {
    opacity:.5;
  }
}

@keyframes blitz-pan {
  0% {
    background-position-x:50%;
  }

  25% {
    background-position-x:100%;
  }

  75% {
    background-position-x:0%;
  }

  100% {
    background-position-x:50%;
  }
}
