.blitz {

  .blitz__matte {
    top:0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-position: 50% 50%;
    background-size:contain;
    background-repeat: no-repeat;
  }

  .blitz__img {
    width:100%;
    height:100%;

  }

  .blitz__info {
    color: $color-white;
    top: 0;
    left: 0;
    text-transform: uppercase;
  }
}
