.button {
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  font-weight: $bold;
  color: $color-white;
  transition: background-color .35s ease-in-out;
  padding: $space-1 ($space-1 + $space-05);

  @include solid-breakpoint('md') {
    padding: ($space-1 + $space-05) $space-3;
  }

  &:hover {
    color: $color-white;
  }

  &.button--primary {
    background-color: $color-gold;
    color: $color-gold-darkest;

    &:hover {
      color: $color-gold-darkest;
    }

    &::after {
      background-color: $color-gold-darkest;
    }
    &::before {
      background-color: $color-gold-darker;
    }
  }

  &.button--secondary {
    background-color: $color-pink;
    color: $color-pink-darkest;

    &:hover {
      color: $color-pink-darkest;
    }

    &::after {
      background-color: $color-pink-darkest;
    }
    &::before {
      background-color: $color-pink-darker;
    }
  }

  &.button--twitter {
    background-color: $color-twitter;
    color: $color-white;

    &:hover {
      color: $color-white;
    }

    &::after {
      background-color: #2799f9;
    }
    &::before {
      background-color: #27b6fb;
    }
  }

  &.button--facebook {
    background-color: $color-facebook;
    color: $color-white;

    &:hover {
      color: $color-white;
    }

    &::after {
      background-color: #3d51c4;
    }
    &::before {
      background-color: #3d6ad4;
    }
  }

  &.button--large {
    font-size: $text-3;

    @include solid-breakpoint('xs') {
        padding: $space-1 $space-2;
    }

    @include solid-breakpoint('md') {
        padding: $space-3 $space-4;
    }

  }

  &.button--circle {
    font-family: $heavy;
    display:inline-block;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    overflow: hidden;
    text-indent: -10000px;
    position:relative;
    padding: 0;

    @include solid-breakpoint('md') {
      width: 60px;
      height: 60px;
      border-radius: 60px;
    }

    &::before, &::after {
      content: "";
      display:block;
      transform-origin: 50% 50%;
      position:absolute;
      left:50%;
      top:50%;
      background-color: white;
      width: 6px;
      height: 50%;

      @include solid-breakpoint('md') {
        width:8px;
      }
    }

    &::before {
      transform: translate3d(-50%, -50%, 0) rotate(45deg);
    }

    &::after {
      transform: translate3d(-50%, -50%, 0) rotate(-45deg);
    }
  }

  &.button--block {
    display: inline-block;
    margin: 0 5px 5px 0;
    position:relative;

    &, &:hover:active {
      transform: translateZ(0);
    }

    &, &::after, &::before {
      transition: all .3s $easeOutBack;
    }

    &::after, &::before {
      position:absolute;
      display:block;
      content: "";
    }

    &::before, &:hover:active::before {
      left:100%;
      top:0;
      height: 100%;
      width: $space-05;
      transform:skewY(45deg);
      transform-origin: 0 0;
    }

    &::after, &:hover:active::after {
      left:0;
      top:100%;
      width:100%;
      height:$space-05;
      transform: skewX(45deg);
      transform-origin: 0 0;
    }


    &:hover {
      transform: translate3d(-$space-05, -$space-05, 0);
      &::before {
        transform: skewY(45deg) scale3d(2, 1, 1);
      }
      &::after {
        transform: skewX(45deg) scale3d(1, 2, 1);
      }
    }
  }

  &.button--large.button--block {
    margin: 0 10px 10px 0;

    &::before, &:hover:active::before {
      width: $space-1;
    }

    &::after, &:hover:active::after {
      height:$space-1;
    }


    &:hover {
      transform: translate3d(-$space-05, -$space-05, 0);
      &::before {
        transform: skewY(45deg) scale3d(1.5, 1, 1);
      }
      &::after {
        transform: skewX(45deg) scale3d(1, 1.5, 1);
      }
    }
  }
}
