.layer--editor {
  background-color:$color-white;

  & .editor {
    // max-width: 375px;
    margin: 0 auto;
    align-items: stretch;

  }

  & .editor__preview {
    flex: 1 0;

    > canvas, .editor__mask {
      display:block;
      position:relative;
      transform: translate3d(-50%, 0, 0);
      left:50%;
      height:100%;
      max-height: 100vw;
    }

    .editor__mask {
      position:absolute;
      top:0;
      left:50%;
      transform: translate3d(-50%, 0, 0);
      opacity: .6;
      pointer-events:none;
      width:auto;
      height:100%;
      max-height:100vw;
    }
  }

  & .editor__controls, & .editor__actions {
    max-width: 675px;
    margin: 0 auto;
    width:100%;
  }

  & .editor__controls {
    flex: 0 0;
    padding: 0 $space-2;
  }

  & .editor__actions {
    flex: 0 0;
    padding: 0 $space-2 $space-2;
  }

}
