* {
    box-sizing: border-box;
}

html,body {
  width: 100%;
  height: 100%;
}

body {
  display:block;
  position:relative;
  overflow:hidden;
  margin: 0;
  padding: 0;
}

//
// Typography
//-----------------------------------

@import './base/typography';

//
// Layout
//-----------------------------------

@import './utilities/layout';

//
// Scaffolding
//-----------------------------------

#root {
  width: 100%;
  height: 100%;
}

.site-container {
 display: flex;
 flex-flow:column;

  .site-header {
      height:16px;
      color: white;
      background-color: $color-gold;
  }

  .site-content {
    flex: 1 0;
    position:relative;
    overflow: hidden;
  }

}

.no-wrap {
  word-wrap: break-word;
  white-space: nowrap;
}

//
// Components
//-----------------------------------

@import "./components/buttons";
@import "./components/layer";
@import "./components/splash";
@import "./components/blitz";
@import "./components/share";
@import "./components/editor";
@import "./components/forms";
@import "./components/transitions";
